In [184]:
import pandas as pd
import numpy as np
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

In [185]:
df = pd.read_csv('diabetes_dataset__2019.csv')

In [186]:
df

,Age,Gender,Family_Diabetes,highBP,PhysicallyActive,BMI,Smoking,Alcohol,Sleep,SoundSleep,RegularMedicine,JunkFood,Stress,BPLevel,Pregancies,Pdiabetes,UriationFreq,Diabetic
0,50-59,Male,no,yes,one hr or more,39.0,no,no,8,6,no,occasionally,sometimes,high,0.0,0,not much,no
1,50-59,Male,no,yes,less than half an hr,28.0,no,no,8,6,yes,very often,sometimes,normal,0.0,0,not much,no
2,40-49,Male,no,no,one hr or more,24.0,no,no,6,6,no,occasionally,sometimes,normal,0.0,0,not much,no
3,50-59,Male,no,no,one hr or more,23.0,no,no,8,6,no,occasionally,sometimes,normal,0.0,0,not much,no
4,40-49,Male,no,no,less than half an hr,27.0,no,no,8,8,no,occasionally,sometimes,normal,0.0,0,not much,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,less than 40,Male,yes,no,more than half an hr,25.0,no,no,8,6,no,often,sometimes,normal,0.0,0,not much,yes
948,60 or older,Male,yes,yes,more than half an hr,27.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,quite often,yes
949,60 or older,Male,no,yes,none,23.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,0,not much,no
950,60 or older,Male,no,yes,less than half an hr,27.0,no,yes,6,5,yes,occasionally,very often,high,0.0,0,not much,no
951,60 or older,Female,yes,yes,one hr or more,30.0,no,no,7,4,yes,occasionally,sometimes,high,2.0,0,quite often,yes

In [187]:
df.shape

(952, 18)

In [188]:
df.describe()

              BMI       Sleep  SoundSleep  Pregancies
count  948.000000  952.000000  952.000000  910.000000
mean    25.763713    6.949580    5.495798    0.386813
std      5.402595    1.273189    1.865618    0.909455
min     15.000000    4.000000    0.000000    0.000000
25%     22.000000    6.000000    4.000000    0.000000
50%     25.000000    7.000000    6.000000    0.000000
75%     29.000000    8.000000    7.000000    0.000000
max     45.000000   11.000000   11.000000    4.000000

In [189]:
df.isnull().sum()

Age                  0
Gender               0
Family_Diabetes      0
highBP               0
PhysicallyActive     0
BMI                  4
Smoking              0
Alcohol              0
Sleep                0
SoundSleep           0
RegularMedicine      0
JunkFood             0
Stress               0
BPLevel              0
Pregancies          42
Pdiabetes            1
UriationFreq         0
Diabetic             1
dtype: int64

In [190]:
Counter(df['BMI'])

Counter({39.0: 4,
         28.0: 71,
         24.0: 111,
         23.0: 76,
         27.0: 63,
         21.0: 88,
         20.0: 48,
         26.0: 66,
         22.0: 58,
         15.0: 8,
         34.0: 12,
         30.0: 33,
         29.0: 28,
         18.0: 32,
         32.0: 16,
         31.0: 16,
         36.0: 20,
         38.0: 28,
         40.0: 4,
         35.0: 12,
         19.0: 36,
         33.0: 64,
         17.0: 16,
         25.0: 34,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         42.0: 3,
         45.0: 1})

In [191]:
df['BMI'].fillna(24.0,inplace = True)

In [192]:
Counter(df['Pregancies'])

Counter({0.0: 754,
         1.0: 28,
         2.0: 64,
         3.0: 60,
         4.0: 4,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1})

In [193]:
df['Pregancies'].fillna(0.0,inplace = True)

In [194]:
Counter(df['Pdiabetes'])

Counter({'0': 936, 'yes': 14, nan: 1, 'no': 1})

In [195]:
df['Pdiabetes'].fillna('0',inplace = True)

In [196]:
Counter(df['Diabetic'])

Counter({'no': 684, 'yes': 266, ' no': 1, nan: 1})

In [197]:
pd.crosstab(df['Diabetic'].isnull(),df['Family_Diabetes'])

Family_Diabetes   no  yes
Diabetic
False            498  453
True               0    1

In [198]:
pd.crosstab(df['Diabetic'].isnull(),df['highBP'])

highBP     no  yes
Diabetic
False     723  228
True        1    0

In [199]:
pd.crosstab(df['Diabetic'].isnull(),df['Alcohol'])

Alcohol    no  yes
Diabetic
False     759  192
True        1    0

In [200]:
pd.crosstab(df['Diabetic'].isnull(),df['Smoking'])

Smoking    no  yes
Diabetic
False     843  108
True        1    0

In [201]:
df['Diabetic'].fillna('no',inplace = True)

In [202]:
df['Diabetic']=df['Diabetic'].apply(lambda x: x.lstrip())

In [203]:
df.isnull().sum()

Age                 0
Gender              0
Family_Diabetes     0
highBP              0
PhysicallyActive    0
BMI                 0
Smoking             0
Alcohol             0
Sleep               0
SoundSleep          0
RegularMedicine     0
JunkFood            0
Stress              0
BPLevel             0
Pregancies          0
Pdiabetes           0
UriationFreq        0
Diabetic            0
dtype: int64

In [204]:
dfnew = pd.get_dummies(df.drop(['Age'],axis=1),drop_first=True)

In [205]:
dfnew.head()

,BMI,Sleep,SoundSleep,Pregancies,Gender_Male,Family_Diabetes_yes,highBP_yes,PhysicallyActive_more than half an hr,PhysicallyActive_none,PhysicallyActive_one hr or more,...,Stress_very often,BPLevel_Low,BPLevel_high,BPLevel_low,BPLevel_normal,BPLevel_normal,Pdiabetes_no,Pdiabetes_yes,UriationFreq_quite often,Diabetic_yes
0,39.0,8,6,0.0,1,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,28.0,8,6,0.0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24.0,6,6,0.0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,23.0,8,6,0.0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,27.0,8,8,0.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [206]:
X = dfnew.drop(['Diabetic_yes'],axis=1)
y = dfnew['Diabetic_yes']

In [207]:
X.head()

,BMI,Sleep,SoundSleep,Pregancies,Gender_Male,Family_Diabetes_yes,highBP_yes,PhysicallyActive_more than half an hr,PhysicallyActive_none,PhysicallyActive_one hr or more,...,Stress_sometimes,Stress_very often,BPLevel_Low,BPLevel_high,BPLevel_low,BPLevel_normal,BPLevel_normal,Pdiabetes_no,Pdiabetes_yes,UriationFreq_quite often
0,39.0,8,6,0.0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
1,28.0,8,6,0.0,1,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,24.0,6,6,0.0,1,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
3,23.0,8,6,0.0,1,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
4,27.0,8,8,0.0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [208]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Diabetic_yes, dtype: uint8

In [209]:
from sklearn.model_selection import train_test_split

In [210]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [211]:
X_train.shape

(714, 28)

In [212]:
X_test.shape

(238, 28)

In [213]:
from sklearn.preprocessing import StandardScaler

In [214]:
scaler = StandardScaler()

In [215]:
scaler.fit(X)

StandardScaler()

In [216]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [217]:
X_train[:5]

array([[-0.325869  , -2.31790493, -0.80219254,  2.94798035, -1.24865519,
         1.04733772,  1.78197604, -0.63245553,  2.49241273, -0.53524432,
        -0.35771789, -0.50262469, -0.03242722,  1.3540064 ,  0.64549722,
        -0.48947251, -0.24037009, -0.40824829, -1.20565677, -0.45620371,
        -0.05622475,  1.87399262, -0.16422155, -1.69873903, -0.03242722,
        -0.03242722, -0.12216944,  1.5184056 ],
       [ 0.04521627,  2.39714954,  0.27040198, -0.41441257,  0.8008616 ,
         1.04733772,  1.78197604, -0.63245553, -0.40121766, -0.53524432,
        -0.35771789, -0.50262469, -0.03242722,  1.3540064 ,  0.64549722,
        -0.48947251, -0.24037009, -0.40824829, -1.20565677,  2.1920032 ,
        -0.05622475,  1.87399262, -0.16422155, -1.69873903, -0.03242722,
        -0.03242722, -0.12216944,  1.5184056 ],
       [-0.325869  ,  0.82546472,  1.34299651, -0.41441257,  0.8008616 ,
         1.04733772, -0.56117477,  1.58113883, -0.40121766, -0.53524432,
         2.79549903,  1.98955606, -0.03242722, -0.73854895,  0.64549722,
        -0.48947251, -0.24037009, -0.40824829,  0.82942345, -0.45620371,
        -0.05622475,  1.87399262, -0.16422155, -1.69873903, -0.03242722,
        -0.03242722, -0.12216944, -0.65858556],
       [ 0.60184417, -0.74622011, -0.26589528, -0.41441257,  0.8008616 ,
        -0.95480186, -0.56117477, -0.63245553, -0.40121766, -0.53524432,
         2.79549903,  1.98955606, -0.03242722,  1.3540064 , -1.54919334,
         2.04301567, -0.24037009, -0.40824829, -1.20565677,  2.1920032 ,
        -0.05622475, -0.53362003, -0.16422155,  0.58867194, -0.03242722,
        -0.03242722, -0.12216944, -0.65858556],
       [-0.325869  ,  0.03962231,  0.80669924, -0.41441257,  0.8008616 ,
         1.04733772,  1.78197604,  1.58113883, -0.40121766, -0.53524432,
        -0.35771789,  1.98955606, -0.03242722,  1.3540064 ,  0.64549722,
        -0.48947251, -0.24037009, -0.40824829, -1.20565677, -0.45620371,
        -0.05622475,  1.87399262, -0.16422155, -1.69873903, -0.03242722,
        -0.03242722, -0.12216944, -0.65858556]])

In [218]:
from sklearn.linear_model import LogisticRegression

In [219]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression()

In [220]:
predictions = clf.predict(X_test)

In [221]:
from sklearn.metrics import classification_report,confusion_matrix

In [222]:
print(confusion_matrix(y_test,predictions))

[[165   6]
 [ 28  39]]

In [223]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.85      0.96      0.91       171
           1       0.87      0.58      0.70        67

    accuracy                           0.86       238
   macro avg       0.86      0.77      0.80       238
weighted avg       0.86      0.86      0.85       238